<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payword Client</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://broker.payword.app/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
    <div id="app" v-cloak>
        <div class="navbar navbar-top">
            <div class="container">
                <div class="col-md-11">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand"><i class="fa fa-database"></i> Vendor</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#" @click.prevent="showSettings"><i class="fa fa-tachometer"></i> Settings</a>
                            </li>
                            <li>
                                <a href="#" @click.prevent="getCertificate">Get Certificate</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-11">

                <div v-if="books.length">
                    <div class="main" v-for="book in books">
                        <div class="jumbotron">
                            <h1 class="title">
                                {{ book.title }}
                                <small style="font-size: 40%;">({{ book.author }})</small>
                            </h1>

                            <div class="row">
                                <div class="col-md-3">
                                    <img class="cover" v-bind:src="book.cover">
                                </div>

                                <div class="col-md-9">
                                    <p>{{ book.description }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success btn-lg" @click="readBook(session)">
                                        <i class="fa fa-play"></i> Read
                                    </button>

                                    <button type="button" class="btn btn-success btn-lg pull-right">
                                        $ {{book.id}}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <user-settings :user="user"></user-settings>
            </div>
        </div>
    </div>
    <script src="/js/dist.js"></script>
</body>
</html>
